{% load static %}
<html>
    <title>ARYAVARTHA</title>
    <head>
        <style>
            body{
                background-color: rgb(182, 252, 180);;
            }
            h3{
                font-size: 50px;
            }
            h4{
                font-size: 40px;
            }
            p{
                font-size: 30px;
            }
            
        </style>
        <body>

<h3>Description:</h3>

            <p>
                So if we stop producing carbon tomorrow, would the climate suddenly go back to the cooler, calmer atmosphere humans lived in before the Industrial Revolution? 
Not exactly, the climate would continue to change and temperature would remain high for many many centuries. So that’s not great.

I know, we have been told for years that slashing greenhouse gas pollution is the key to tackle climate change. But unfortunately, those cuts wouldn’t immediately stop the planet from warming up.

The reason behind the rising temperature of the earth is CO2 molecules which cause more than 80% of Global Warming to remain in the atmosphere for a remarkably long time. Everything we do from driving cars to buying groceries comes with some amount of carbon emissions. So how do we lower it? There are little impacts we can make to reduce it. So let’s reduce our carbon footprint together!</p>
        
   <h3> How to limit your carbon footprint?</h3>

    <p>Understanding your carbon footprint can help limit the impact of your consumption on the environment. There are different online solutions to help you estimate your carbon footprint.
    
    Small changes can make a big difference in the long run, for example when it comes to transportation, food, clothing, waste, etc. Here are some tips:
    </p>
    <h4>Food:</h4>
   <p> Consume local and seasonal products (forget strawberries in winter) 
    Limit meat consumption, especially beef 
    Select fish from sustainable fishing 
    Bring reusable shopping bags and avoid products with excessive plastic packaging 
    Make sure to buy only what you need, to avoid waste
   </p>
    <h4>Clothing:</h4>
    <p>Take good care of your clothes
    Try swapping, borrowing, renting or buying second-hand
    Buy responsibly-made clothes, e.g. made from recycled material or with an eco-label
    </p>
    <h4>Transport:</h4>
    <p>Cycle or use public transport
    Be smart about when and how you drive 
    Try the train for your next holiday.
    </p>
    <h4>Energy and waste:</h4>
    <p>Turn down the heating by 1°, it will already make a difference
    Take short showers 
    Turn off the water while you brush your teeth or clean the dishes
    Unplug your electronic equipment and don’t leave your phone on charge when the battery is already full
    Don’t store unnecessary data in the cloud (learn more about your digital footprint!)
    Select energy efficient products with an “A” label (EU Energy Label)
    Limit and recycle your waste</p>
</body>
    </head>
</html>