{% load static %}
<html>
    <title>ARYAVARTHA</title>
    <head>
        <style>
            body{
                background-color: rgb(182, 252, 180);
            }
        </style>
        <body>
            <Center>
            <h2>References:</h2>
            <a href="https://link.springer.com/chapter/10.1007/978-981-15-9577-6_1" target="_blank">Carbon Footprint: Concept, Methodology and Calculation</a> <br>
            <a href="https://www.sciencedirect.com/science/article/pii/S2352550918303944" target="_blank">The state of carbon footprint calculators: An evaluation of calculator design and user interaction features.</a><br>
            <a href="https://www.mdpi.com/2071-1050/12/4/1629" target="_blank">Methodology for Carbon Footprint Calculation Towards Sustainable Innovation in Intangible Assets</a><br>
            <a href="https://www.biointeractive.org/sites/default/files/calculating_my_carbon_footprint.pdf" target="_blank">Carbon footprint defnition</a><br>
            <a href="https://ieeexplore.ieee.org/abstract/document/5507742" target="_blank"></a>Collaborative filtering and carbon footprint calculation</a><br>
            <a href="https://link.springer.com/chapter/10.1007/978-981-4560-41-2_2" target="_blank">Carbon Footprint Estimation in the Agriculture Sector</a><br>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S095965261300019X"target="_blank">Carbon footprint analysis in plastics manufacturing</a><br>
            <a href="https://books.google.co.in/books?hl=en&lr=&id=UIUmD75qyzUC&oi=fnd&pg=PP1&dq=carbon+footprint+analysis&ots=vzkErFNNdN&sig=E3iJPha8n7xXxfiG1czGtEmgvB0&redir_esc=y#v=onepage&q=carbon%20footprint%20analysis&f=false"target="_blank">Carbon footprint analysis</a><br>
            <a href="https://www.tandfonline.com/doi/abs/10.1080/09535310903541298"target="_blank">COMPARING THE GTAP-MRIO AND WIOD DATABASES FOR CARBON FOOTPRINT ANALYSIS</a><br>
            <a href="https://www.tandfonline.com/doi/abs/10.1080/09535314.2014.939949"target="_blank">INPUT–OUTPUT ANALYSIS AND CARBON FOOTPRINTING: AN OVERVIEW OF APPLICATIONS</a><br>
            </center>
        </body>
    </head>
</html>